<div class="toolbar" role="banner">
  <img
    width="60"
    style="cursor: pointer"
  />
  <div style="width: 100%">
    <h1></h1>
    <h1 style="text-align: center">
      <div>
        <span
          ><mat-icon
        
            style="vertical-align: text-top; display: inline-block"
          ></mat-icon>
          Dashboard </span
        >
      </div>
    </h1>
  </div>

  <div style="margin-right: 20px;">Phanneeya</div>
  <div style="margin-left: auto">
    <div>
      <button
        mat-icon-button
        style="width: auto; transform: scale(1.8); margin-right: 16px"
      >
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>
</div>

