<app-cards></app-cards>
<div style="height: 72vh; margin-top: 10px;">
  <div class="grid-container">

    <div style="background-color: white;">
      <p-chart [type]="'bar'" [data]="data" [options]="options"></p-chart>
    </div>

  </div>
  <div class="grid-item">

    <div>
      <p-chart type="doughnut" [data]="data_1" [options]="options_1"></p-chart>


    </div>
  </div>
  <div class="grid-item">
    <div style="background-color: white;">
      <p-chart [type]="'line'" [data]="data" [options]="options"></p-chart>
    </div>

  </div>
  <div class="grid-item">4</div>
</div>

