
<div class="grid-container">
  <div class="grid-item green">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="factory"
    ></mat-icon>
    <h4>OEE</h4>
    <h1>89 %</h1>
  </div>
  <div class="grid-item yellow">
    <mat-icon aria-hidden="false" fontIcon="precision_manufacturing"></mat-icon>
    <span> <h4>produzierte Menge | Ausschuss</h4></span>

    <h1> 18854 stk. | 10 stk.</h1>
  </div>
  <div class="grid-item or">
    <i class="material-icons">bar_chart</i>
    <h4>Ausschussquote</h4>
    <h1>0,05 %</h1>
  </div>
  <div class="grid-item blue">
    <mat-icon fontIcon="electric_bolt"
      >produzierte Menge</mat-icon
    >
    <h4>Energieverbrauch</h4>
    <h1>12560 kWh</h1>
  </div>
 
  <div class="grid-item red">
    <mat-icon aria-hidden="false" fontIcon="receipt"></mat-icon>
    <h4>Energiekosten</h4>
    <h1>3490 €</h1>
  </div>

</div>
